/* COLORS
 * Violet : #5b2333
 * Blanc : #f7f4f3
 * Gris : #564d4a
 * Orange : #f24333
 * Rouge : #ba1b1d
 *
 */
:root {
       --bgcolor-1: #456456;
}

/*
 * CONTACT HEADER */

/* matrix( scaleX, skewY, skewX, scaleY, translateX, translateY ) */
@keyframes contact {
	0% { transform: rotate( 0deg ); }
	25% { 
		transform: rotate( 15deg ) scale(1.5,1.5);
	}
	50% { 
		transform: rotate( -15deg ) scale(0.5,0.5);
	}
	100% { transform: rotate( 0deg ); }
}
.contact { 
	right: 10px; 
	position: absolute;
	font-weight: bold;
	cursor: pointer;
	var( --bgcolor-1 );
	animation-name: contact;
	animation-duration: 2s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}
.contact_details {
	display: block;
	letter-spacing: 0.2em;
	padding-bottom: 10px;
	text-align: center;
}
.mobilite {
}
.d {
	color: #f5a106 !important;
	font-weight: bold;
}
.t {
	font-weight: bold;
}
.p {
	color: #087108 !important;
	font-weight: bold;
}
.contact ~ div {
	background-color: white;
}
.etat {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #e6e6e6;
	padding: 8px;
	border-bottom: 1px solid #5c066c;
}
.etat span {
	color: #5b2333;
}


/*
 * HERO */
.hero {
	text-align: center !important;
}
.hero h2{
	color: #5b2333;
	font-size: 2em;
	font-weight: 900;
	letter-spacing: 1.3em;
	line-height: 4em;
}
.uk-inline {
	max-height: 500px;
}
.hero-image {
	opacity: 0.09;
}


/*
 * RESPONSIVE */
@media screen and ( max-width: 555px ){
	.etat {
		display: flex;
		flex-direction: column;
	}
	.competence {
		margin: 5px 0;
	}
	.competence h3 {
		font-size: 1em;
	}
	.hero h2 {
		line-height: 2em;
		letter-spacing: 0.25em;
		font-size: 1.8em;
	}
	.valeurs {
		padding: 10px 40px !important;
	}
	.valeurs ul {
		padding: 0;
	}
	.uk-slideshow-items > * {
		position: initial;
	}
	.uk-position-center {
		display: initial !important;
	}
	.divers .uk-active a {
		background-color: #350f3cd9;
		border: 2px solid white;
	}
	.uk-tab {
		flex-direction: column;
	}
	.uk-tab li {
		padding: 0;
	}
}
@media screen and ( max-width: 730px ){
	.hero h1 {
		line-height: 1.3;
		letter-spacing: 0.6em;
	}
}
@media screen and ( max-width: 770px ){
	.hero h1 {
		line-height: 1.5;
		letter-spacing: 1.0em;
	}
}
@media screen and ( max-width: 820px ){
	.stack {
		display: block;
	}
	.stack div {
	}
	.hero h1 {
		line-height: 1.8;
		letter-spacing: 1.10em;
	}
	.uk-position-center {
		display: block;
	}
}
@media screen and ( max-width: 845px ){
	.titre_experience {
		display: flex !important;
		flex-direction: column !important;	
	}
	.entreprise {
		display: inline-block;
		width: 100% !important; 
		padding: 5px !important;
	}
	.uk-width-1-40 {
		width: 100% !important; 
	}
	.uk-accordion li {
		position: relative;
		padding: 0px !important;
	}
	.uk-accordion-title::after {
		position: absolute;
		top: 0px;	
		right: 0px;	
		padding: 5px !important;
	}
	.competence h3 {
		font-size: 0.8em !important;
		font-size: 1em;
	}	
}


/*
 * STACK */
.uk-card-header {
	padding: 20px 10px 10px 10px; 
	box-sizing: border-box;
	width: 100%;
	text-align: center;	
}
.uk-card-default .uk-card-header {
	border-bottom: 1px solid #5c066c;
}	
.icon-spread{
	padding: 0px 20px;
}
.stack {
	display: flex;
	flex-flow: row wrap; 
	justify-content: space-between;
	background-color: #bd90ca80;
}
.stack div {
	margin-top: 5px;
	margin-bottom: 5px;
}
/*
.flip {
	display: block;
        position: fixed;
	z-index: 9999;
        width: 80% !important;
        height: 80%;
	margin: auto;
	transform: scaleY( 2 );
	transform: rotateY( 180deg );
	background-color: yellow;
	transition: all 0.5s ease 0s;
}
*/
.stack h3, .stack .ui, .stack .server, .stack .sql {
	color: #5c066c;
	background-color: rgba(255,255,255,5);
}
.stack .ui:hover, .stack .server:hover, .stack .sql:hover {
	color: white;
	background-color: black;
}

/*
 * VALEURS */
.valeurs {
	padding: 20px 60px;
	margin-top: 20px;
}
.valeurs article h2, .valeurs article blockquote {
	color: #5b2333 !important;
	text-align: left !important;
}
.valeurs a {
	color: black !important;
}
.valeurs ul {
	padding: 0px 60px;
}


/*
 * COMPETENCES */
.competence_wrapper, .divers {
	color: #5b2333 !important;
	background-color: #bd90ca80;
	padding: 20px;
}
.competence_wrapper h3, .experiences h3, .divers h3 {
	color: #5b2333;
	padding: 0px 0px 10px 10px;
}
.divers h3::first-letter, .experiences h3::first-letter, .competence_wrapper h3::first-letter {
	font-size: 2em;
}
.competence_wrapper .uk-icon, .competence_wrapper .uk-icon + span {
	display: block;
	text-align: center;
}
.competences {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.competence div {
	margin-bottom: 10px;
}
.competence h3 {
	font-weight: bold;
	font-size: 1em;
}
.competence, .competence ul {
	font-size: 1.0em;
	font-weight: initial;
	color: #5c066c !important;
	background-color: #e6e6e6;
}
.uk-list-bullet > li::before {
	background-image: initial;
	content: "\2738" !important;
}

/*
 * EXPERIENCES */
.titre_experience {
	padding: 10px;
	font-size: 1.1em !important;
	background-color: black;
	color: white;
	margin-left: 0px;
	border-radius: 5px;
}
.experience_description {
	margin-top: 30px;
}
.experiences {
	background-color: #d2bcd8;
	color: #5b2333;
	padding: 20px;
}
.image_experience {
	height: 25px !important;
	padding-right: 8px;
}	
.experiences .uk-accordion {
	margin-top: 0px !important;
}
#experiences_autres {
	padding: 0px!important;
}
#experiences_autres div {
	padding: 20px;
}
#experiences_autres, .experiences .uk-accordion-content div:nth-of-type( odd ), .experiences .uk-accordion-content div:nth-of-type( even ) {
	border-radius: 5px;
}
.experiences .uk-accordion-content div {
	color: #5b2333;
	border: 5px solid #cbf7f9;
}
.uk-accordion-title {
	font-size: 1.2em;
	display: flex !important;
	background-color: #5c066c !important;
}
[uk-accordion] a  {
	letter-spacing: initial;
	padding: 10px !important;
}
.uk-width-1-20 {
	width: calc( 100% * 1 / 10.001 ) !important;
}
.uk-width-1-40 {
	width: calc( 100% * 0.400001 );
}
.uk-accordion-content {
	margin-top: 0px;
	border: 1px solid #5c066c;
	border-radius: 5px;
	padding: 20px !important;
}
.uk-grid > * {
	padding-left: 0px !important;
}
.uk-badge {
	justify-content: space-between !important;
	color: #5c066c !important;
	background-color: white !important;
}
.uk-accordion-content {
	margin-top: 0px !important;
}

.recent {

}
.pmu {

}
.la-poste {
	background-image: url( "./images/la_poste_faded.png" );
	background-size: 50%;
}
.obexto {
	background-image: url( "./images/obexto_faded.png" );
}
.autres {
	background-image: url( "./images/autres_faded.png" );
	white-space: pre;
}
.recent, .pmu, .adp, .la-poste, .obexto, .autres {
	background-repeat: no-repeat;
	background-origin: padding-box;
	background-position: right bottom;
	background-attachment: scroll;
}
.uk-tab {
	background-color: #222;
}


/*
 * DIVERS ... */
.divers li a, .divers li.active a, li[aria-expanded="true"] a {
	color: white !important;
}
.divers .uk-tab .uk-active > a{
	border-bottom: 2px solid white
}
.divers .uk-tab::before {
	border-bottom: initial;
}
.separateur_blanc, .separateur_bleu, .separateur_violet {
	height: 10px;
}
#divers_content {
	padding: 0 15px;
}
.uk-tab {
	margin: 0!important;
	border-radius: 5px;
	background-color: #5c066c;
}

/*
 * SEPARATEURS */
.separateur_blanc {
	background-color: white;
}
.separateur_bleu {
	background-color: #92eff37a;
}
.separateur_violet {
	background-color: #5c066c;
}


/*
 * HTML RAW TAGS */
body {
	color: black;
	font-size: 14px;
	width: 100%;
}
h2, h3, .uk-article-title {
	font-size: 1.2em;
	letter-spacing: 1em;
	margin: 0;
}
header {
	position: relative;
	padding: 8px;
	font-size: 1em;
	background-color: #5c066c;
	color: white;
}
a {
	color: white;
}
a, a:hover {
	text-decoration: none;
}
footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
	background-color: #5c066c;
	color: white;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
